body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}
:root {
    --primary-text-color: #E8EEEE;
    --primary-background-color: #53AC8A;
    --primary-shadow-color: #03322A;
    --secondary-text-color: #78EEDD;
    --secondary-background-color: #06452C;
    --secondary-shadow-color: #1EEBC9;
    --primary_font: "Bungee Spice", sans-serif;
    --secondary_font: "Tilt Prism", sans-serif;

}
button#saveOption {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button#saveOption:hover {
    background-color: var(--secondary-background-color);
}