body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#convertButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#optionsButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
}

#convertButton:hover, #optionsButton:hover {
    opacity: 0.8;
}